# gradle

.gradle/
build/
out/
classes/
!gradle/wrapper/gradle-wrapper.jar

# --- Fabric Loom ---
# This folder contains remapped Minecraft jars (several hundred MBs)
.fabric-loom/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# OS

*.DS_Store
Thumbs.db

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# --- Log files ---
run/
logs/
